interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 46194742-9ab2-434c-9b40-e105f67c424f
    method: GET
    uri: https://cas.yay.space/api/v2/user_activities
  response:
    content: '{"activities": [{"created_at": 1686112203, "type": "like", "user": {"id":
      26565, "nickname": "\u8272\u591c\u30e6\u30a6@\u30b7\u30d5\u30a9\u30f3\u4e3b\u7fa9\u262d",
      "profile_icon_thumbnail": "https://yay-cdn.com/file/yay-space/uploads/user_avatar/2023/4/24/thumb_aR75nZQicC3hoeo1_1682342510028_0_size_586x586.jpg"},
      "metadata": {}, "to_post": {"id": 372209351, "text": "testing", "post_type":
      "text", "likers": [{"id": 26565, "nickname": "\u8272\u591c\u30e6\u30a6@\u30b7\u30d5\u30a9\u30f3\u4e3b\u7fa9\u262d",
      "profile_icon_thumbnail": "https://yay-cdn.com/file/yay-space/uploads/user_avatar/2023/4/24/thumb_aR75nZQicC3hoeo1_1682342510028_0_size_586x586.jpg"},
      {"id": 7489979, "nickname": "\u2741\u3164\u3164\u273e", "profile_icon_thumbnail":
      "https://yay-cdn.com/file/yay-space/uploads/user_avatar/2023/6/1/thumb_ppF9ldoJALcHgWjX_1685579677976_0_size_512x512.jpg"},
      {"id": 2611910, "nic[...]
