interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 09d60780-1a4c-47b7-a36d-e2e0fdf182f9
    method: PUT
    uri: https://api.yay.space/v1/users/7425674/bookmarks/371574235
  response:
    content: '{"bookmarked": true}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"e15fb5b9bf4badcb8fae6f8d2857e550"
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 09d60780-1a4c-47b7-a36d-e2e0fdf182f9
    method: GET
    uri: https://api.yay.space/v1/users/7425674/bookmarks
  response:
    content: '{"posts": [{"id": 371574235, "text": "testing", "group_id": null, "font_size":
      2, "likes_count": 3, "post_type": "text", "color": 2, "reposts_count": 2, "created_at":
      1685866835, "updated_at": 1685867061, "edited_at": null, "reported_count": 0,
      "in_reply_to_post_count": 3, "repostable": true, "highlighted": false, "hidden":
      false, "thread_id": null, "message_tags": [], "conversation_id": 25797894, "liked":
      false, "reposted": false, "user": {"id": 7425553, "username": null, "nickname":
      "\u0081\u008d\u0081\u008d", "prefecture": "", "biography": "\u304a\u3068\u3053\u3067\u3059",
      "followers_count": 0, "followings_count": 0, "gender": -1, "is_private": false,
      "title": null, "posts_count": 33, "groups_users_count": 0, "reviews_count":
      0, "profile_icon": "https://yay-cdn.com/file/yay-space/uploads/user_avatar/2023/4/13/w80ShSSlEYq9qlHp_1681354436_0_size_1536x1536.jpg",
      "cover_image": null, "cover_image_thumbnail": null, "profile_icon_thumbnail":
      "https://yay-cdn.com/file/yay-space/uploads/user_avatar/2023/4/13/thumb_w80ShSSlEYq9qlHp_1681354436_0_size_1536x1536.jpg",
      "last_loggedin_at": 1685966515, "created_at": 1683989812, "login_streak_count":
      2, "is_online": false, "online_status": "offline", "country_code": "JP", "vip":
      false, "hide_vip": false, "following": false, "followed_by": false, "follow_pending":
      false, "hidden": false, "mobile_verified": false, "age_verified": false, "recently_kenta":
      false, "dangerous_user": false, "generation": 3, "new_user": false}, "thread":
      null}], "next_page_value": "1686111991-371574235"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"6f837d06fba49dc8f1da0a5abeae0ff8"
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 09d60780-1a4c-47b7-a36d-e2e0fdf182f9
    method: DELETE
    uri: https://api.yay.space/v1/users/7425674/bookmarks/371574235
  response:
    content: ''
    headers:
    status_code: 204
version: 1
