interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - a91e3d5b-b5ba-401d-b96b-d68e5b90c78b
    method: GET
    uri: https://api.yay.space/v1/users/ws_token
  response:
    content: '{"result": "success"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"76e0bf1df4e53831d7e913a189c4743a"
    status_code: 200
- request:
    body: '{"text": "testing", "font_size": 2, "color": 3, "in_reply_to": null, "group_id":
      null, "post_type": null, "mention_ids[]": null, "choices[]": null, "shared_url":
      null, "message_tags": "[]", "attachment_filename": null, "attachment_2_filename":
      null, "attachment_3_filename": null, "attachment_4_filename": null, "attachment_5_filename":
      null, "attachment_6_filename": null, "attachment_7_filename": null, "attachment_8_filename":
      null, "attachment_9_filename": null, "video_file_name": null}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - a91e3d5b-b5ba-401d-b96b-d68e5b90c78b
    method: POST
    uri: https://api.yay.space/v3/posts/new
  response:
    content: '{"id": 371794081, "text": "testing", "group_id": null, "font_size":
      2, "likes_count": 0, "post_type": "text", "color": 3, "reposts_count": 0, "created_at":
      1685950732, "result": "success", "thread_id": null, "message_tags": []}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"46469b1c633d201fdd87991385a1a33f"
    status_code: 201
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - a91e3d5b-b5ba-401d-b96b-d68e5b90c78b
    method: GET
    uri: https://api.yay.space/v2/posts/371794081
  response:
    content: '{"result": "success", "post": {"id": 371794081, "text": "testing", "group_id":
      null, "font_size": 2, "likes_count": 0, "post_type": "text", "color": 3, "reposts_count":
      0, "created_at": 1685950732, "updated_at": 1685950732, "edited_at": null, "reported_count":
      0, "in_reply_to_post_count": 0, "repostable": true, "highlighted": false, "hidden":
      false, "thread_id": null, "message_tags": [], "liked": false, "reposted": false,
      "user": {"id": 7425553, "username": null, "nickname": "\u0081\u008d\u0081\u008d",
      "prefecture": "", "biography": "\u304a\u3068\u3053\u3067\u3059", "followers_count":
      0, "followings_count": 0, "gender": -1, "is_private": false, "title": null,
      "posts_count": 30, "groups_users_count": 0, "reviews_count": 0, "profile_icon":
      "https://yay-cdn.com/file/yay-space/uploads/user_avatar/2023/4/13/w80ShSSlEYq9qlHp_1681354436_0_size_1536x1536.jpg",
      "cover_image": null, "cover_image_thumbnail": null, "profile_icon_thumbnail":
      "https://yay-cdn.com/file/yay-space/uploads/user_avatar/2023/4/13/thumb_w80ShSSlEYq9qlHp_1681354436_0_size_1536x1536.jpg",
      "last_loggedin_at": 1685950645, "created_at": 1683989812, "login_streak_count":
      2, "is_online": true, "online_status": "online", "country_code": "JP", "vip":
      false, "hide_vip": false, "following": false, "followed_by": false, "follow_pending":
      false, "hidden": false, "mobile_number": null, "mobile_verified": false, "age_verified":
      false, "recently_kenta": false, "dangerous_user": false, "generation": 3, "new_user":
      false}}, "group": null}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"e9ea1c8f1b8390aef2546a8f8727d8ba"
    status_code: 200
[...]
- request:
    body: '{"text": "testing", "font_size": 2, "color": 3, "in_reply_to": 371794081,
      "group_id": null, "post_type": null, "mention_ids[]": null, "choices[]": null,
      "shared_url": null, "message_tags": "[]", "attachment_filename": null, "attachment_2_filename":
      null, "attachment_3_filename": null, "attachment_4_filename": null, "attachment_5_filename":
      null, "attachment_6_filename": null, "attachment_7_filename": null, "attachment_8_filename":
      null, "attachment_9_filename": null, "video_file_name": null}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - a91e3d5b-b5ba-401d-b96b-d68e5b90c78b
    method: POST
    uri: https://api.yay.space/v3/posts/new
  response:
    content: '{"id": 371794083, "text": "testing", "group_id": null, "font_size":
      2, "likes_count": 0, "post_type": "text", "color": 3, "reposts_count": 0, "created_at":
      1685950733, "result": "success", "thread_id": null, "message_tags": [], "in_reply_to":
      371794081, "conversation_id": 25814303}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"760245fde66163382f5ee5004c821d81"
    status_code: 201
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - a91e3d5b-b5ba-401d-b96b-d68e5b90c78b
    method: GET
    uri: https://api.yay.space/v2/conversations/25814303?number=1
  response:
    content: '{"posts": [], "result": "success"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"85549354e189028280a65919e3174523"
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - a91e3d5b-b5ba-401d-b96b-d68e5b90c78b
    method: GET
    uri: https://api.yay.space/v2/conversations/root_posts?ids%5B%5D=25814303
  response:
    content: '{"posts": [{"id": 371794081, "text": "testing", "group_id": null, [...]
[...]
- request:
    body: '{"post_id": 371794081, "text": "testing", "font_size": 2, "color": 3, "in_reply_to":
      371794081, "group_id": null, "post_type": null, "mention_ids[]": null, "choices[]":
      null, "shared_url": null, "message_tags": "[]", "attachment_filename": null,
      "attachment_2_filename": null, "attachment_3_filename": null, "attachment_4_filename":
      null, "attachment_5_filename": null, "attachment_6_filename": null, "attachment_7_filename":
      null, "attachment_8_filename": null, "attachment_9_file[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - a91e3d5b-b5ba-401d-b96b-d68e5b90c78b
    method: GET
    uri: https://api.yay.space/v2/posts/371794081/reposts?number=1
  response:
    content: '{"posts": [{"id": 371794087, "text": "testing", "group_id": null, "font_size"[...]
