interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 90f860ae-b657-4dce-ab88-b773052f4c20
    method: GET
    uri: https://api.yay.space/v1/users/ws_token
  response:
    content: '{"result": "success"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"1a9bf72ffa7158950dd32008a0a8cc1b"
    status_code: 200
- request:
    body: '{"text": "testing", "font_size": 2, "color": 3, "in_reply_to": null, "group_id":
      null, "post_type": "text", "mention_ids[]": null, "choices": null, "shared_url":
      null, "message_tags": "[]", "attachment_filename": null, "attachment_2_filename":
      null, "attachment_3_filename": null, "attachment_4_filename": null, "attachment_5_filename":
      null, "attachment_6_filename": null, "attachment_7_filename": null, "attachment_8_filename":
      null, "attachment_9_filename": null, "video_file_name": null}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 90f860ae-b657-4dce-ab88-b773052f4c20
    method: POST
    uri: https://api.yay.space/v3/posts/new
  response:
    content: '{"id": 372209345, "text": "testing", "group_id": null, "font_size":
      2, "likes_count": 0, "post_type": "text", "color": 3, "reposts_count": 0, "created_at":
      1686111991, "result": "success", "thread_id": null, "message_tags": []}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"df028a1dac62dc7e41b8166158f33bdb"
    status_code: 201
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 90f860ae-b657-4dce-ab88-b773052f4c20
    method: GET
    uri: https://api.yay.space/v2/posts/372209345
  response:
    content: '{"result": "success", "post": {"id": 372209345, "text": "testing", "group_id":
      null, "font_size": 2, "likes_count": 0, "post_type": "text", "color": 3, "reposts_count":
      0, "created_at": 1686111991, "updated_at": 1686111991, "edited_at": null, "reported_count":
      0, "in_reply_to_post_count": 0, "repostable": true, "highlighted": false, "hidden":
      false, "thread_id": null, "message_tags": [], "liked": false, "reposted": false,
      "user": {"id": 7425674, "username": null, "nickname": "\u306e\u3076\u3053",
      "prefecture": "", "biography": "\u30a8\u30da\u65b0\u30b7\u30fc\u30ba\u30f3\u59cb\u307e\u308a\u307e\u3057\u305f\u306d\uff3e\uff3e\n\u30f4\u30a1\u30eb\u3061\u3083\u3093\u3068\u30e9\u30f3\u30d1\u3061\u3083\u3093\u3057\u304b\u52dd\u305f\u3093\uff3e\uff3e",
      "followers_count": 1, "followings_count": 0, "gender": -1, "is_private": false,
      "title": null, "posts_count": 24, "groups_users_count": 0, "reviews_count":
      0, "profile_icon": "https://yay-cdn.com/file/yay-space/uploads/user_avatar/2023/5/10/0LN3qMQVRuBhuOh6_1683693247_0_size_1536x1536.jpg",
      "cover_image": null, "cover_image_thumbnail": null, "profile_icon_thumbnail":
      "https://yay-cdn.com/file/yay-space/uploads/user_avatar/2023/5/10/thumb_0LN3qMQVRuBhuOh6_1683693247_0_size_1536x1536.jpg",
      "last_loggedin_at": 1686111991, "created_at": 1683990579, "login_streak_count":
      1, "is_online": true, "online_status": "online", "country_code": "JP", "vip":
      false, "hide_vip": false, "following": false, "followed_by": false, "follow_pending":
      false, "hidden": false, "mobile_number": null, "mobile_verified": false, "age_verified":
      false, "recently_kenta": false, "dangerous_user": false, "generation": 3, "new_user":
      false}}, "group": null}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"572d3bab8c17ad520b512b7beb5fdf0d"
    status_code: 200
[...]
- request:
    body: '{"text": "testing", "font_size": 2, "color": 3, "in_reply_to": 372209345,
      "group_id": null, "post_type": "text", "mention_ids[]": null, "choices": null,
      "shared_url": null, "message_tags": "[]", "attachment_filename": null, "attachment_2_filename":
      null, "attachment_3_filename": null, "attachment_4_filename": null, "attachment_5_filename":
      null, "attachment_6_filename": null, "attachment_7_filename": null, "attachment_8_filename":
      null, "attachment_9_filename": null, "video_file_name": null}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 90f860ae-b657-4dce-ab88-b773052f4c20
    method: POST
    uri: https://api.yay.space/v3/posts/new
  response:
    content: '{"id": 372209347, "text": "testing", "group_id": null, "font_size":
      2, "likes_count": 0, "post_type": "text", "color": 3, "reposts_count": 0, "created_at":
      1686111992, "result": "success", "thread_id": null, "message_tags": [], "in_reply_to":
      372209345, "conversation_id": 25844890}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"7954e66c407c5ac656afcd89fde7468c"
    status_code: 201
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 90f860ae-b657-4dce-ab88-b773052f4c20
    method: GET
    uri: https://api.yay.space/v2/conversations/25844890?number=1
  response:
    content: '{"posts": [{"id": 372209347, "text": "testing", "group_id": null, "font_size":
      2, "likes_count": 0, "post_type": "text", "color": 3, "reposts_count": 0, "reported_count":
      0, "in_reply_to_post_count": 0, "thread_id": null, "message_tags": [], "in_reply_to":
      372209345, "in_reply_to_post": {"id": 372209345, "text": "testing", "group_id":
      null, "color": 3, "conversation_id": 25844890, "in_reply_to_post_count": 1,
      "thread_id": null, "message_tags": [], "post_type": "text", "created_at": 1686111991,
      "updated_at": 1686111992, "user": {"id": 7425674, "nickname": "\u306e\u3076\u3053",
      "biography": "\u30a8\u30da\u65b0\u30b7\u30fc\u30ba\u30f3\u59cb\u307e\u308a\u307e\u3057\u305f\u306d\uff3e\uff3e\n\u30f4\u30a1\u30eb\u3061\u3083\u3093\u3068\u30e9\u30f3\u30d1\u3061\u3083\u3093\u3057\u304b\u52dd\u305f\u3093\uff3e\uff3e",
      "followers_count": 1, "is_private": false, "title": null, "posts_count": 24,
      "groups_users_count": 0, "reviews_count": 0, "age_verified": false, "country_code":
      "JP", "vip": false, "hide_vip": false, "online_status": "online", "profile_icon":
      "https://yay-cdn.com/file/yay-space/uploads/user_avatar/2023/5/10/0LN3qMQVRuBhuOh6_1683693247_0_size_1536x1536.jpg",
      "profile_icon_thumbnail": "https://yay-cdn.com/file/yay-space/uploads/user_avatar/2023/5/10/thumb_0LN3qMQVRuBhuOh6_1683693247_0_size_1536x1536.jpg",
      "cover_image": null, "cover_image_thumbnail": null, "last_loggedin_at": 1686111991,
      "qr_code": null, "following": false, "followed_by": false, "follow_pending":
      false, "hidden": false, "recently_kenta": false, "dangerous_user": false, "new_user":
      false, "interests_selected": false}}, "conversation_id": 25844890, "created_at":
      1686111992, "updated_at": 1686111992, "edited_at": null, "repostable": true,
      "user": {"id": 7425674, "nickname": "\u306e\u3076\u3053", "biography": "\u30a8\u30da\u65b0\u30b7\u30fc\u30ba\u30f3\u59cb\u307e\u308a\u307e\u3057\u305f\u306d\uff3e\uff3e\n\u30f4\u30a1\u30eb\u3061\u3083\u3093\u3068\u30e9\u30f3\u30d1\u3061\u3083\u3093\u3057\u304b\u52dd\u305f\u3093\uff3e\uff3e",
      "followers_count": 1, "is_private": false, "title": null, "[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 90f860ae-b657-4dce-ab88-b773052f4c20
    method: GET
    uri: https://api.yay.space/v2/conversations/root_posts?ids%5B%5D=25844890
  response:
    content: '{"posts": [{"id": 372209345, "text": "testing", "group_id": null, [...]
[...]
- request:
    body: '{"post_id": 372209345, "text": "testing", "font_size": 2, "color": 3, "in_reply_to":
      372209345, "group_id": null, "post_type": "text", "mention_ids[]": null, "choices":
      null, "shared_url": null, "message_tags": "[]", "attachment_filename": null,
      "attachment_2_filename": null, "attachment_3_filename": null, "attachment_4_filename":
      null, "attachment_5_filename": null, "attachment_6_filename": null, "attachment_7_filename":
      null, "attachment_8_filename": null, "attachment_9_file[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 90f860ae-b657-4dce-ab88-b773052f4c20
    method: GET
    uri: https://api.yay.space/v2/posts/372209345/reposts?number=1
  response:
    content: '{"posts": [{"id": 372209351, "text": "testing", "group_id": null, "font_size"[...]
