interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 504a451a-6368-4738-bc54-c2f1e9221ad4
    method: GET
    uri: https://api.yay.space/v2/posts/timeline?number=1
  response:
    content: '{"next_page_value": 371794089, "result": "success", "posts": [{"id":
      371794089, "text": "\u306a\u3093\u304b", "group_id": null, "font_size": 0, "likes_count":
      0, "post_type": "call", "color": 0, "reposts_count": 0, "created_at": 1685950734,
      "updated_at": 1685950734, "edited_at": null, "reported_count": 0, "in_reply_to_post_count":
      0, "repostable": true, "highlighted": false, "hidden": false, "thread_id": null,
      "message_tags": [], "liked": false, "reposted": false, "tag": null, "gifts_count":
      [], "user": {"id": 3766327, "username": null, "nickname": "\u30d7\u30fc\u3055\u3093",
      "prefecture": "", "biography": "\u304b\u305a\u306e\u3053", "followers_count":
      346, "followings_count": 439, "gender": 0, "is_private": false, "title": null,
      "posts_count": 0, "groups_users_count": 16, "reviews_count": 7, "profile_icon":
      "https://yay-cdn.com/file/yay-space/uploads/user_avatar/2022/9/7/3FkiQNqNtlFJ4AvC_1662544267_0_size_1536x1536.jpg",
      "cover_image": null, "cover_image_thumbnail": null, "profile_icon_thumbnail":
      "https://yay-cdn.com/file/yay-space/uploads/user_avatar/2022/9/7/thumb_3FkiQNqNtlFJ4AvC_1662544267_0_size_1536x1536.jpg",
      "last_loggedin_at": 1685950050, "created_at": 1628005076, "login_streak_count":
      30, "is_online": true, "online_status": "online", "country_code": "JP", "vip":
      false, "hide_vip": false, "following": false, "followed_by": false, "follow_pending":
      false, "hidden": false, "mobile_verified": false, "age_verified": true, "recently_kenta":
      false, "dangerous_user": false, "generation": 3, "new_user": false}, "conference_call":
      {"id": 76047549, "active": true, "conference_call_users_count": 1, "call_type":
      "voice", "server": "wss://webrtc-p-001.batiapps.com:8443/room", "mode": "call",
      "agora_channel": "yay-76047549", "agora_token": "00679046b8c9be54945b7f10a4d128d5395IABoTudv2ZYMKtiQKqQ9kA59zMmb6wXC75qaZQbTxtsb+C+wnZW3ZhZMIgDzgtLwj+J+ZAQAAQAAAAAAAgAAAAAAAwAAAAAABAAAAAAA",
      "locked": false, "open": false, "anonymous_call_users_count": 0, "joinable_by":
      "mutual_follows_only", "max_participants": 18, "post_id": 371794089, "game":
      null, "genre": null, "conference_call_users": [{"id": 3766327, "username": null,
      "nickname": "\u30d7\u30fc\u3055\u3093", "prefecture": "", "biography": "\u304b\u305a\u306e\u3053",
      "followers_count": 346, "followings_count": 439, "gender": 0, "is_private":
      false, "title": null, "posts_count": 0, "groups_users_count": 16, "reviews_count":
      7, "profile_icon": "https://yay-cdn.com/file/yay-space/uploads/user_avatar/2022/9/7/3FkiQNqNtlFJ4AvC_1662544267_0_size_1536x1536.jpg",
      "cover_image": null, "cover_image_thumbnail": null, "profile_icon_thumbnail":
      "https://yay-cdn.com/file/yay-space/uploads/user_avatar/2022/9/7/thumb_3FkiQNqNtlFJ4AvC_1662544267_0_size_1536x1536.jpg",
      "last_loggedin_at": 1685950050, "created_at": 1628005076, "login_streak_count":
      30, "is_online": true, "online_status": "online", "country_code": "JP", "vip":
      false, "hide_vip": false, "following": false, "followed_by": false, "follow_pending":
      false, "hidden": false, "mobile_verified": false, "age_verified": true, "recently_kenta":
      false, "dangerous_user": false, "generation": 3, "new_user": false}], "conference_call_user_roles":
      [{"id": 304251692, "user_id": 3766327, "role": "host"}]}}]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"3ee57934489664ce4b963bc96d2801a8"
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 504a451a-6368-4738-bc54-c2f1e9221ad4
    method: GET
    uri: https://api.yay.space/v2/posts/noreply_timeline?noreply_mode=true&number=1
  response:
    content: '{"next_page_value": 371794089, "result": "success", "posts":[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 504a451a-6368-4738-bc54-c2f1e9221ad4
    method: GET
    uri: https://api.yay.space/v2/posts/search?keyword=%E3%81%93%E3%82%93%E3%81%AB%E3%81%A1%E3%81%AF&number=1
  response:
    content: '{"next_page_value": 371789536, "re[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 504a451a-6368-4738-bc54-c2f1e9221ad4
    method: GET
    uri: https://api.yay.space/v2/posts/tags/%E3%81%84%E3%81%84%E3%81%AD%E3%81%A7%E3%83%AC%E3%82%BF%E3%83%BC?number=1
  response:
    content: '{"posts": [{"id": 37179301[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 504a451a-6368-4738-bc54-c2f1e9221ad4
    method: GET
    uri: https://api.yay.space/v2/posts/call_timeline?number=1
  response:
    content: '{"next_page_value": 1685950735, "result": "success", "posts": [{"id":
      371787927, "text": "\u3059\u3053\u3057\uff01", "group_id": null, "font_size":
      0, "likes_count": 1, "post_type": "call", "color": 0, "reposts_count": 0, "created_at":
      1685947911, "updated_at": 1685950735, "edited_at": null, "reported_count": 0,
      "in_reply_to_post_count": 0, "repostable": true, "highlighted": false, "hidden":
      false, "thread_id": null, "message_tags": [], "liked": false, "reposted": false,
      "tag": null, "gifts_count": [], "attachment": "https://yay-cdn.com/file/yay-space/uploads/post/2023/6/5/vzfyAVd6sGFcamb9_1685947908_0_size_1920x1440.jpg",
      "attachment_thumbnail": "https://yay-cdn.com/file/yay-space/uploads/post/2023/6/5/thumb_vzfyAVd6sGFcamb9_1685947908_0_size_1920x1440.jpg",
      "user": {"id": 1888654, "username": "namio777", "nickname": "\u53f3\u8db3\u9996\u3060\u308b",
      "prefecture": "\u5927\u962a\u5e9c", "biography": "26 \u0627\u0644\u0633\u0644\u0627\u0645^_^\u0639\u0644\u064a\u0643\u0645\nPeace
      be with you", "followers_count": 170, "followings_count": 178, "gender": 1,
      "is_private": true, "title": null, "posts_count": 116, "grou[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 504a451a-6368-4738-bc54-c2f1e9221ad4
    method: GET
    uri: https://api.yay.space/v2/posts/call_timeline?group_id=179925&number=1
  response:
    content: '{"next_page_value": 1685945100, "result": "success", "posts": [{"[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 504a451a-6368-4738-bc54-c2f1e9221ad4
    method: GET
    uri: https://api.yay.space/v2/posts/group_timeline?group_id=179925&number=1
  response:
    content: '{"result": "success", "posts": [{"id": 371793775, "text": "\u52c[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 504a451a-6368-4738-bc54-c2f1e9221ad4
    method: GET
    uri: https://api.yay.space/v2/groups/179925/posts/search?keyword=%E3%81%93%E3%82%93%E3%81%AB%E3%81%A1%E3%81%AF&number=1
  response:
    content: '{"next_page_value": [...]
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 504a451a-6368-4738-bc54-c2f1e9221ad4
    method: GET
    uri: https://api.yay.space/v2/posts/following_timeline?number=1
  response:
    content: '{"next_page_value": 371794087, "result": "success", "posts": [{"id":
      371794087, "text": "testing", "group_id": null, "font_size": 2, "likes_count":
      0, "post_type": "text", "color": 3, "reposts_count": 0, "created_at": 1685950734,
      "updated_at": 1685950734, "edited_at": null, "reported_count": 0, "in_reply_to_post_count":
      0, "repostable": true, "highlighted": false, "hidden": false, "thread_id": null,
      "message_tags": [], "in_reply_to": 371794081, "conversation_id": 25814303, "liked":
      false, "reposted": false, "tag": null, "user": {"id": 7425553, "username": null,
      "nickname": "\u0081\u008d\u0081\u008d", "prefecture": "", "biography": "\u304a\u3068\u3053\u3067\u3059",
      "followers_count": 0, "followings_count": 0, "gender": -1, "is_private": false,
      "title": null, "posts_count": 30, "groups_users_count": 0, "reviews_count":
      0, "profile_icon": "https://yay-cdn.com/file/yay-space/uploads/user_avatar/2023/4/13/w80ShSSlEYq9qlHp_1681354436_0_size_1536x1536.jpg",
      "cover_image": null, "cover_image_thumbnail": null, "profile_icon_thumbnail":
      "https://yay-cdn.com/file/yay-space/uploads/user_avatar/2023/4/13/thumb_w80ShSSlEYq9qlHp_1681354436_0_size_1536x1536.jpg",
      "last_loggedin_at": 1685950645, "created_at": 1683989812, "login_streak_count":
      2, "is_online": true, "online_status": "online", "country_code": "JP", "vip":
      false, "hide_vip": false, "following": false, "followed_by": false, "follow_pending":
      false, "hidden": false, "mobile_number": null, "mobile_verified": false, "age_verified":
      false, "recently_kenta": false, "dangerous_user": false, "generation": 3, "new_user":
      false}, "in_reply_to_post": {"id": 371794081, "text": "testing", "group_id":
      null, "color": 3, "created_at": 1685950732, "thread_id": null, "user": {"id":
      7425553, "username": null, "nickname": "\u0081\u008d\u0081\u008d", "prefecture":
      "", "biography": "\u304a\u3068\u3053\u3067\u3059", "followers_count": 0, "followings_count":
      0, "gender": -1, "is_private": false, "title": null, "posts_count": 30, "groups_users_count":
      0, "reviews_count": 0, "profile_icon": "https://yay-cdn.com/file/yay-space/uploads/user_avatar/2023/4/13/w80ShSSlEYq9qlHp_1681354436_0_size_1536x1536.jpg",
      "cover_image": null, "cover_image_thumbnail": null, "profile_icon_thumbnail":
      "https://yay-cdn.com/file/yay-space/uploads/user_avatar/2023/4/13/thumb_w80ShSSlEYq9qlHp_1681354436_0_size_1536x1536.jpg",
      "last_loggedin_at": 1685950645, "created_at": 1683989812, "login_streak_count":
      2, "is_online": true, "online_status": "online", "country_code": "JP", "vip":
      false, "hide_vip": false, "following": false, "followed_by": false, "follow_pending":
      false, "hidden": false, "mobile_number": null, "mobile_verified": false, "age_verified":
      false, "recently_kenta": false, "dangerous_user": false, "generation": 3, "new_user":
      false}}, "shareable": {"type": "post", "post": {"id": 371794081, "text": "testing",
      "group_id": null, "font_size": 2, "likes_count": 0, "post_type": "text", "color":
      3, "reposts_count": 1, "created_at": 1685950732, "updated_at": 1685950733, "edited_at":
      null, "reported_count": 0, "in_reply_to_post_count": 2, "repostable": true,
      "highlighted": false, "hidden": false, "thread_id": null, "message_tags": [],
      "conversation_id": 25814303, "liked": false, "reposted": false, "tag": null,
      "user": {"id": 7425553, "[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 504a451a-6368-4738-bc54-c2f1e9221ad4
    method: GET
    uri: https://api.yay.space/v2/posts/call_followers_timeline?number=1
  response:
    content: '{"next_page_value": null, "result": "success", "posts": []}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"ca3e3dcef686eb6b9e63a70670e84267"
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 504a451a-6368-4738-bc54-c2f1e9221ad4
    method: GET
    uri: https://api.yay.space/v2/posts/recommended_timeline?experiment_num=1&number=1&variant_num=1
  response:
    content: '{"next_page_value": null, "result": "success", "posts": []}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"ca3e3dcef686eb6b9e63a70670e84267"
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 504a451a-6368-4738-bc54-c2f1e9221ad4
    method: GET
    uri: https://api.yay.space/v2/posts/user_timeline?number=1&user_id=93
  response:
    content: '{"result": "success", "posts": [{"id": 371624561, "text": "\u304a\u308[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 504a451a-6368-4738-bc54-c2f1e9221ad4
    method: GET
    uri: https://api.yay.space/v2/posts/mine?number=1
  response:
    content: '{"posts": [{"id": 371794087, "text": "testing", "group_id": null, "font_size":
      2, "l[...]
