interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 462cc2e5-e962-4a82-9879-7e63e86bf07e
    method: GET
    uri: https://api.yay.space/v2/posts/timeline?number=1
  response:
    content: '{"next_page_value": 372209347, "result": "success", "posts": [{"id":
      372209347, "text": "testing", "group_id": null, "font_size": 2, "likes_count":
      0, "post_type": "text", "color": 3, "reposts_count": 0, "created_at": 1686111992,
      "updated_at": 1686111992, "edited_at": null, "reported_count": 0, "in_reply_to_post_count":
      0, "repostable": true, "highlighted": false, "hidden": false, "thread_id": null,
      "message_tags": [], "in_reply_to": 372209345, "conversation_id": 25844890, "liked":
      false, "reposted": false, "tag": null, "user": {"id": 7425674, "username": null,
      "nickname": "\u306e\u3076\u3053", "prefecture": "", "biography": "\u30a8\u30da\u65b0\u30b7\u30fc\u30ba\u30f3\u59cb\u307e\u308a\u307e\u3057\u305f\u306d\uff3e\uff3e\n\u30f4\u30a1\u30eb\u3061\u3083\u3093\u3068\u30e9\u30f3\u30d1\u3061\u3083\u3093\u3057\u304b\u52dd\u305f\u3093\uff3e\uff3e",
      "followers_count": 1, "followings_count": 0, "gender": -1, "is_private": false,
      "title": null, "posts_count": 24, "groups_users_count": 0, "reviews_count":
      0, "profile_icon": "https://yay-cdn.com/file/yay-space/uploads/user_avatar/2023/5/10/0LN3qMQVRuBhuOh6_1683693247_0_size_1536x1536.jpg",
      "cover_image": null, "cover_image_thumbnail": null, "profile_icon_thumbnail":
      "https://yay-cdn.com/file/yay-space/uploads/user_avatar/2023/5/10/thumb_0LN3qMQVRuBhuOh6_1683693247_0_size_1536x1536.jpg",
      "last_loggedin_at": 1686111991, "created_at": 1683990579, "login_streak_count":
      1, "is_online": true, "online_status": "online", "country_code": "JP", "vip":
      false, "hide_vip": false, "following": false, "followed_by": false, "follow_pending":
      false, "hidden": false, "mobile_number": null, "mobile_verified": false, "age_verified":
      false, "recently_kenta": false, "dangerous_user": false, "generation": 3, "new_user":
      false}, "in_reply_to_post": {"id": 372209345, "text": "testing", "group_id":
      null, "color": 3, "created_at": 1686111991, "thread_id": null, "user": {"id":
      7425674, "username": null, "nickname": "\u306e\u3076\u3053", "prefecture": "",
      "biography": "\u30a8\u30da\u65b0\u30b7\u30fc\u30ba\u30f3\u59cb\u307e\u308a\u307e\u3057\u305f\u306d\uff3e\uff3e\n\u30f4\u30a1\u30eb\u3061\u3083\u3093\u3068\u30e9\u30f3\u30d1\u3061\u3083\u3093\u3057\u304b\u52dd\u305f\u3093\uff3e\uff3e",
      "followers_count": 1, "followings_count": 0, "gender": -1, "is_private": false,
      "title": null, "posts_count": 24, "groups_users_count": 0, "reviews_count":
      0, "profile_icon": "https://yay-cdn.com/file/yay-space/uploads/user_avatar/2023/5/10/0LN3qMQVRuBhuOh6_1683693247_0_size_1536x1536.jpg",
      "cover_image": null, "cover_image_thumbnail": null, "profile_icon_thumbnail":
      "https://yay-cdn.com/file/yay-space/uploads/user_avatar/2023/5/10/thumb_0LN3qMQVRuBhuOh6_1683693247_0_size_1536x1536.jpg",
      "last_loggedin_at": 1686111991, "created_at": 1683990579, "login_streak_count":
      1, "is_online": true, "online_status": "online", "country_code": "JP", "vip":
      false, "hide_vip": false, "following": false, "followed_by": false, "follow_pending":
      false, "hidden": false, "mobile_number": null, "mobile_verified": false, "age_verified":
      false, "recently_kenta": false, "dangerous_user": false, "generation": 3, "new_user":
      false}}}]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"98a90913807ed7b48c145c713323be8f"
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 462cc2e5-e962-4a82-9879-7e63e86bf07e
    method: GET
    uri: https://api.yay.space/v2/posts/noreply_timeline?noreply_mode=true&number=1
  response:
    content: '{"next_page_value": 372209351, "result": "success", "posts":[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 462cc2e5-e962-4a82-9879-7e63e86bf07e
    method: GET
    uri: https://api.yay.space/v2/posts/search?keyword=%E3%81%93%E3%82%93%E3%81%AB%E3%81%A1%E3%81%AF&number=1
  response:
    content: '{"next_page_value": 372208126, "re[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 462cc2e5-e962-4a82-9879-7e63e86bf07e
    method: GET
    uri: https://api.yay.space/v2/posts/tags/%E3%81%84%E3%81%84%E3%81%AD%E3%81%A7%E3%83%AC%E3%82%BF%E3%83%BC?number=1
  response:
    content: '{"posts": [{"id": 37220908[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 462cc2e5-e962-4a82-9879-7e63e86bf07e
    method: GET
    uri: https://api.yay.space/v2/posts/call_timeline?number=1
  response:
    content: '{"next_page_value": 1686111992, "result": "success", "posts": [{"id":
      372196547, "text": "\u306b\u307b\u3093\u3054\u3057\u307e\u3057\u3087\u3088\u3046",
      "group_id": null, "font_size": 0, "likes_count": 9, "post_type": "call", "color":
      0, "reposts_count": 0, "created_at": 1686103647, "updated_at": 1686111992, "edited_at":
      null, "reported_count": 0, "in_reply_to_post_count": 0, "repostable": true,
      "highlighted": false, "hidden": false, "thread_id": null, "message_tags": [],
      "liked": false, "reposted": false, "tag": null, "gifts_count": [], "user": {"id":
      7510311, "username": null, "nickname": "\u304a\u3063\u03c0\u2755", "prefecture":
      "", "biography": "\u5f7c\u6c0f\u3063\u3066\u306a\u306b\u3001\u3048\uff1f\u304a\u3068\u3057\u3066\u307f\u3066\u3001\u8208\u5473\u3061\u3093\u3061\u3093\u2755",
      "followers_count": 13, "followings_count": 11, "gender": 1, "is_private": true,
      "title": null, "posts_count": 115, "groups_users_count": 0, "reviews_count":
      27, "profile_icon": "https://yay-cdn.com/file/yay-space/uploads/user_avatar/2023/6/6/yNeq4mWBug8k6yVz_1685995877_0_size_1536x1536.jpg",
      "cover_image": null, "cover_image_thumbnail": null, "profile_icon_thumbnail":
      "https://yay-cdn.com/file/yay-space/uploads/user_avatar/2023/6/6/thumb_yNeq4mWBug8k6yVz_1685995877_0_size_1536x1536.jpg",
      "last_loggedin_at": 1686111329, "created_at": 1685969201, "login_streak_count":
      3, "is_online": true, "online_status": "online", "country_code": "JP", "vip":
      false, "hide_vip": false, "following": false, "followed_by": false, "follow_pending":
      false, "hidden": false, "mobile_verified": false, "age_verified": true, "recently_kenta":
      false, "dangerous_user": false, "generation": 2, "new_user": true}, "conference_call":
      {"id": 76134099, "active": true, "conference_call_users_count": 5, "call_type":
      "voice", "server": "wss://webrtc-p-001.batiapps.com:8443/room", "mode": "call",
      "agora_channel": "yay-76134099", "agora_token": "00679046b8c9be54945b7f10a4d128d5395IAA9UKfgbG9IXrH1gHyNSSOdb6d2e3OMDax6cuxAfCSDgtKsMU3PLwLiIgAWKNd+eliBZAQAAQAAAAAAAgAAAAAAAwAAAAAABAAAAAAA",
      "locked": false, "open": true, "anonymous_call_users_count": 0, "joinable_by":
      "anyone", "max_participants": 18, "post_id": 372196547, "game": null, "genre":
      {"id": 9, "title": "\u65b0\u898f\u52df\u96c6", "icon_url": "https://yay-cdn.com/file/yay-space/uploads/categories/genre/9/icon/thumb_mvNLuteYP.png"},
      "conference_call_users": [{"id": 7510311, "username": null, "nickname": "\u304a\u3063\u03c0\u2755",
      "prefecture": "", "biography": "\u5f7c\u6c0f\u3063\u3066\u306a\u306b\u3001\u3048\uff1f\u304a\u3068\u3057\u3066\u307f\u3066\u3001\u8208\u5473\u3061\u3093\u3061\u3093\u2755",
      "followers_count": 13, "followings_count": 11, "gender": 1, "is_private": true,
      "title": null, "posts_count": 115, "groups_users_count": 0, "reviews_count":
      27, "profile_icon": "https://yay-cdn.com/file/yay-space/uploads/user_a[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 462cc2e5-e962-4a82-9879-7e63e86bf07e
    method: GET
    uri: https://api.yay.space/v2/posts/call_timeline?group_id=179925&number=1
  response:
    content: '{"next_page_value": 1686085340, "result": "success", "posts": [{"[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 462cc2e5-e962-4a82-9879-7e63e86bf07e
    method: GET
    uri: https://api.yay.space/v2/posts/group_timeline?group_id=179925&number=1
  response:
    content: '{"result": "success", "posts": [{"id": 372209324, "text": "\u305[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 462cc2e5-e962-4a82-9879-7e63e86bf07e
    method: GET
    uri: https://api.yay.space/v2/groups/179925/posts/search?keyword=%E3%81%93%E3%82%93%E3%81%AB%E3%81%A1%E3%81%AF&number=1
  response:
    content: '{"next_page_value": [...]
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 462cc2e5-e962-4a82-9879-7e63e86bf07e
    method: GET
    uri: https://api.yay.space/v2/posts/following_timeline?number=1
  response:
    content: '{"next_page_value": 372209351, "result": "success", "posts": [{"id":
      3[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 462cc2e5-e962-4a82-9879-7e63e86bf07e
    method: GET
    uri: https://api.yay.space/v2/posts/call_followers_timeline?number=1
  response:
    content: '{"next_page_value": null, "result": "success", "posts": []}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"ca3e3dcef686eb6b9e63a70670e84267"
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 462cc2e5-e962-4a82-9879-7e63e86bf07e
    method: GET
    uri: https://api.yay.space/v2/posts/recommended_timeline?experiment_num=1&number=1&variant_num=1
  response:
    content: '{"next_page_value": null, "result": "success", "posts": []}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"ca3e3dcef686eb6b9e63a70670e84267"
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 462cc2e5-e962-4a82-9879-7e63e86bf07e
    method: GET
    uri: https://api.yay.space/v2/posts/user_timeline?number=1&user_id=93
  response:
    content: '{"result": "success", "posts": [{"id": 372193871, "text": "\u6d88\u305[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - 462cc2e5-e962-4a82-9879-7e63e86bf07e
    method: GET
    uri: https://api.yay.space/v2/posts/mine?number=1
  response:
    content: '{"posts": [{"id": 372209351, "text": "testing", "group_id": null, "font_size":
      2, "l[...]
