[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = {extras = ["socks", "http2"], version = "==0.25.2"}
pillow = "==9.3.0"
cryptography = "==41.0.1"
websocket-client = "==1.6.0"
pyjwt = "==2.8.0"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
