interactions:
- request:
    body: '{"comment": "testing", "uuid": "da35949c-f13d-4722-b143-d41eac2d44b3",
      "api_key": "ccd59ee269c01511ba763467045c115779fcae3050238a252f1bd1a4b65cfec6",
      "timestamp": 1685967270, "signed_info": "7a89aaa8029d988949bae722b6aae230"}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - b13b7057-562d-431f-bd22-6440b749ff09
    method: POST
    uri: https://api.yay.space/v2/users/reviews/7425538
  response:
    content: '{"result": "success"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"02c045b5a38b1e9a01bf15ab6d48d526"
    status_code: 201
- request:
    body: '{"user_ids": [7425538], "comment": "testing", "uuid": "da35949c-f13d-4722-b143-d41eac2d44b3",
      "api_key": "ccd59ee269c01511ba763467045c115779fcae3050238a252f1bd1a4b65cfec6",
      "timestamp": 1685967271, "signed_info": "1d1faf041b57ea1ce68b153edac9862c"}'
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - b13b7057-562d-431f-bd22-6440b749ff09
    method: POST
    uri: https://api.yay.space/v1/users/reviews
  response:
    content: '{"result": "success"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"02c045b5a38b1e9a01bf15ab6d48d526"
    status_code: 201
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - b13b7057-562d-431f-bd22-6440b749ff09
    method: GET
    uri: https://api.yay.space/v1/users/reviews/7425553?number=1
  response:
    content: '{"pinned_reviews": [], "reviews": [], "result": "success", "pinned_review":
      null}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"3a38e13ac33b961d26d1624321adfb35"
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - b13b7057-562d-431f-bd22-6440b749ff09
    method: GET
    uri: https://api.yay.space/v1/users/reviews/mine?number=1
  response:
    content: '{"pinned_reviews": null, "reviews": [{"id": 249691681, "comment": "testing",
      "reported_count": 0, "user": {"id": 7425538, "nickname": "\u306e\u305f\u3093",
      "biography": "\u9854\u306f\u6295\u7a3f\u3067", "followers_count": 0, "is_private":
      false, "title": null, "posts_count": 3, "groups_users_count": 0, "reviews_count":
      5, "age_verified": false, "country_code": "JP", "vip": false, "hide_vip": false,
      "online_status": "offline", "profile_icon": "https://yay-cdn.com/file/yay-space/uploads/user_avatar/2023/5/13/GTB5H6ZsSdhcOsSH_1683984472_0_size_1536x1536.jpg",
      "profile_icon_thumbnail": "https://yay-cdn.com/file/yay-space/uploads/user_avatar/2023/5/13/thumb_GTB5H6ZsSdhcOsSH_1683984472_0_size_1536x1536.jpg",
      "cover_image": null, "cover_image_thumbnail": null, "last_loggedin_at": 1685870302,
      "recently_kenta": false, "dangerous_user": false, "new_user": false, "interests_selected":
      false}, "reviewer": {"id": 7425553, "nickname": "\u0081\u008d\u0081\u008d",
      "biography": "\u304a\u3068\u3053\u3067\u3059", "followers_count": 0, "is_private":
      false, "title": null, "posts_count": 33, "groups_users_count": 0, "reviews_count":
      0, "age_verified": false, "country_code": "JP", "vip": false, "hide_vip": false,
      "online_status": "online", "profile_icon": "https://yay-cdn.com/file/yay-space/uploads/user_avatar/2023/4/13/w80ShSSlEYq9qlHp_1681354436_0_size_1536x1536.jpg",
      "profile_icon_thumbnail": "https://yay-cdn.com/file/yay-space/uploads/user_avatar/2023/4/13/thumb_w80ShSSlEYq9qlHp_1681354436_0_size_1536x1536.jpg",
      "cover_image": null, "cover_image_thumbnail": null, "last_loggedin_at": 1685966515,
      "recently_kenta": false, "dangerous_user": false, "new_user": false, "interests_selected":
      false}, "created_at": 1685967271, "mutual_review": false}], "result": "success",
      "pinned_review": null}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"1e0b12152a40f77062881827fdccb621"
    status_code: 200
- request:
    body: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-app-version:
      - '3.16'
      x-connection-type:
      - wifi
      x-device-info:
      - yay 3.16.1 android 11 (3.5x 1440x2960 Galaxy S9)
      x-device-uuid:
      - b13b7057-562d-431f-bd22-6440b749ff09
    method: DELETE
    uri: https://api.yay.space/v1/users/reviews?review_ids%5B%5D=249691681
  response:
    content: '{"result": "success"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - W/"02c045b5a38b1e9a01bf15ab6d48d526"
    status_code: 200
version: 1
