name: Publish yaylib to PyPI

on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Poetry
        run: curl -sSL https://install.python-poetry.org | python3 - --version 2.1.3

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Check poetry
        run: |
          poetry --version
          poetry config --list

      - name: Install dependencies
        run: |
          poetry install

      - name: Apply version
        run: |
          cd scripts && ./write_version.sh

      - name: Configure poetry
        run: poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}

      - name: Publish to PyPI
        run: |
          poetry build
          poetry publish
